<div class="modal" id="videoTutorialModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="position: relative; padding-bottom: 62.5%; height: 0;">
                    <iframe id="tutorialVideo" 
                            src="{{ loom_url }}"
                            frameborder="0" 
                            webkitallowfullscreen 
                            mozallowfullscreen 
                            allowfullscreen 
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('videoTutorialModal').addEventListener('hidden.bs.modal', function () {
        const iframe = document.getElementById('tutorialVideo');
        // Store the original source
        const videoSrc = iframe.src;
        // Clear and reset the source to stop the video
        iframe.src = '';
        iframe.src = videoSrc;
    });
</script>
