<div class="modal-header">
    <h5 class="modal-title">Error</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <div class="alert alert-danger">
        <strong>Error:</strong> {{ error_message }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>

<script>
var modal = new bootstrap.Modal(document.getElementById('errorModal'));
modal.show();

var createModal = bootstrap.Modal.getInstance(document.getElementById('createBotModal'));
if (createModal) {
    createModal.hide();
}
</script>